<div class="transfers-container">
  <div class="page-header">
    <h1>Inventory Transfers</h1>
    <button mat-raised-button color="primary" (click)="createTransfer()">
      <mat-icon>add</mat-icon> Create Transfer
    </button>
  </div>

  <mat-card class="content-card">
    <mat-tab-group (selectedTabChange)="tabChanged($event)" [selectedIndex]="activeTabIndex">
      <mat-tab label="Outgoing Transfers">
        <app-transfer-outgoing></app-transfer-outgoing>
      </mat-tab>
      <mat-tab label="Incoming Transfers">
        <app-transfer-incoming></app-transfer-incoming>
      </mat-tab>
      <mat-tab label="Completed Transfers">
        <app-transfer-completed></app-transfer-completed>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>