.sidenav-container {
  height: 100%;
}
.mat-sidenav {
  width: 13.5%;
}
.nav-list {
  width: 100%;
}


.logo-toolbar {
  margin: 0;
  padding: 0;
}


.logo {
  width: 100%;  /* Or set a fixed width like 100px */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures the image fills the space */
}