<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [opened]="true">
    <mat-toolbar color="primary" class="logo-toolbar">
      <!-- Company Logo -->
      <img src="logos/small-logo.png" alt="Company Logo" class="logo" />
    </mat-toolbar>

    <!-- Sidenav Content -->
    <mat-nav-list class="nav-list">
      @for (menu of menus; track $index;) {

      <ng-container>
        <mat-expansion-panel [expanded]="expandedIndex === menu.id" (opened)="setExpandedIndex(menu.id)"
          (closed)="clearExpandedIndex(menu.id)" class="menu-item">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon matListItemIcon>{{menu.icon}}</mat-icon>
              {{ menu.title }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            @for (submenu of menu.submenus; track $index) {
            <a mat-list-item [routerLink]="submenu.route">
              {{ submenu.title }}
            </a>
            }

          </mat-nav-list>
        </mat-expansion-panel>
      </ng-container>
      }

    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>