/* company-selector.component.scss */
.full-width {
    width: 100%;
  }
  
  mat-dialog-content {
    min-width: 300px;
  }
  
  mat-dialog-actions {
    padding: 16px;
  }
  
  mat-form-field {
    margin-top: 16px;
  }

  h1 {
    font-size: x-large;
  }