<form [formGroup]="lineForm" class="line-item-form">
  <div class="line-type-selector">
    <button mat-button type="button" 
            [class.active]="lineType === 'inventory'"
            (click)="setLineType('inventory')">
      Inventory Item
    </button>
    <button mat-button type="button" 
            [class.active]="lineType === 'subrecipe'"
            (click)="setLineType('subrecipe')">
      Sub-Recipe / Prep
    </button>
  </div>

  <div *ngIf="lineType === 'inventory'" class="item-selector">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Inventory Item</mat-label>
      <input type="text" matInput [formControl]="inventoryItemCtrl" 
             [matAutocomplete]="inventoryAuto" placeholder="Search for inventory item">
      <mat-autocomplete #inventoryAuto="matAutocomplete">
        <mat-option *ngFor="let item of filteredInventoryItems" 
                   [value]="item.name"
                   (click)="onInventoryItemSelected(item.id!)">
          {{item.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div *ngIf="lineType === 'subrecipe'" class="item-selector">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Sub-Recipe / Preparation</mat-label>
      <input type="text" matInput [formControl]="subRecipeCtrl" 
             [matAutocomplete]="subRecipeAuto" placeholder="Search for sub-recipe">
      <mat-autocomplete #subRecipeAuto="matAutocomplete">
        <mat-option *ngFor="let recipe of filteredSubRecipes" 
                   [value]="recipe.name"
                   (click)="onSubRecipeSelected(recipe.id!)">
          {{recipe.name}} ({{recipe.type}})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="quantity-section">
    <mat-form-field appearance="outline">
      <mat-label>Quantity</mat-label>
      <input type="number" matInput formControlName="quantity" min="0.001" step="0.001"
             (change)="onQuantityChange()">
      <mat-error *ngIf="lineForm.get('quantity')?.invalid">
        Quantity must be greater than zero
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Unit of Measure</mat-label>
      <mat-select formControlName="unitOfMeasureId">
        <mat-option *ngFor="let uom of allUoms" [value]="uom.id">
          {{uom.name}} ({{uom.abbreviation}})
        </mat-option>
      </mat-select>
      <mat-error *ngIf="lineForm.get('unitOfMeasureId')?.invalid">
        Unit of measure is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Wastage %</mat-label>
      <input type="number" matInput formControlName="wastagePercent" min="0" max="100" step="0.1"
             (change)="onWastageChange()">
      <mat-error *ngIf="lineForm.get('wastagePercent')?.invalid">
        Wastage must be between 0 and 100%
      </mat-error>
    </mat-form-field>
  </div>

  <div class="cost-section">
    <mat-form-field appearance="outline">
      <mat-label>Line Cost</mat-label>
      <input type="number" matInput formControlName="lineCost" readonly>
    </mat-form-field>
  </div>

  <div class="action-buttons">
    <button mat-button color="primary" type="button" (click)="onSave()" 
            [disabled]="lineForm.invalid">
      <mat-icon>save</mat-icon> Save
    </button>
    <button mat-button type="button" (click)="onCancel()">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
    <button *ngIf="line?.id" mat-button color="warn" type="button" (click)="onDelete()">
      <mat-icon>delete</mat-icon> Delete
    </button>
  </div>
</form>
