/* You can add global styles to this file, and also import other style files */


@use '@angular/material' as mat;
@use '../m3-theme';
// Include core styles (typography, density, etc.)
@include mat.core();


// Include the dark theme styles for all components
html {
    @include mat.all-component-themes(m3-theme.$light-theme);
    @include mat.system-level-colors(m3-theme.$light-theme);
    @include mat.system-level-typography(m3-theme.$light-theme);
}

html, body { height: 100%;  margin: 0; padding: 0; }

/* Ensure sliding panels and dialogs have proper z-index stacking */
.cdk-overlay-container {
  z-index: 1200 !important;
}

.slide-panel, .detail-panel {
  z-index: 1000 !important;
}

/* Ensure that dropdowns and dialogs appear above panels */
.mat-mdc-menu-panel {
  z-index: 1300 !important;
}

.mat-mdc-dialog-container {
  z-index: 1300 !important;
}
